.main-vinos{
    padding-top: 6em;
    background: linear-gradient(135deg, #1a1a1a 0%, #2d1b1b 100%);

}

/* FOOTER */

/* .footer-vino {
    background: linear-gradient(135deg, #1a1a1a 0%, #2d1b1b 100%);
    padding: 4rem 0 1rem;
    margin-top: auto;
    border-top: none;
} */

